<div class="row">
	<div class="col-9">
		<Posts @model={{model}} @onSelection={{action onSelection}} />
	</div>
	<div class="col-3">
		<Sidebar>
			Feed Sidebar<br />
			Test
		</Sidebar>
	</div>
</div>
