<div class="up">
	<a href="#" {{action "upvote"}}><i class="fa fa-arrow-up"></i></a>
</div>
<h6 class="votes">{{score model.score}}</h6>
<div class="down">
	<a href="#" {{action "downvote"}}><i class="fa fa-arrow-down"></i></a>
</div>
