{{#each model as |subreddit|}}
	<div class="subreddit" {{action onSelection subreddit}}>
		<div class="icon">
			<img src="https://via.placeholder.com/30" />
		</div>
		<div class="content">
			r/{{subreddit}}
		</div>
	</div>
{{/each}}
