$primary-color: rgb(145, 90, 246);
$background-color: #f8f9fa;
$foreground-color: white;
$progress-color: $primary-color;

$subreddit-list-text-color: #333;
$context-color: rgb(120, 124, 126);
$line-color: rgb(206, 212, 218);
$selected-post-color: rgb(238, 238, 238);
