// font

// nprogress

#nprogress {
	.bar {
		background: $progress-color !important;
		height: 3px !important;
	}
	.peg {
		box-shadow: 0 0 10px $progress-color, 0 0 5px $progress-color !important;
	}
	.spinner-icon {
		border-top-color: $progress-color !important;
		border-left-color: $progress-color !important;
	}.spinner-icon {
		display: none !important;
	}
}
