$padding: 0.5em;


.post {
	display: flex;
	padding: $padding;
	background: $background-light;
	border: 1px solid silver;
	border-bottom: none;
	
	&:first-child {
		margin-top: 1em;
	}
	
	.thumbnail {
		// background: lightgrey;
		img {
			width: 5em;
			border-radius: 0.2em;
		}
	}
	.content {
		flex-grow: 1;
		padding-left: $padding;
	}
}
