$padding: 0.5em;


.post {
	display: flex;
	padding: $padding;
	background: $background-light;
	border-bottom: 1px solid $line-color;
	
	&.active {
		background: lightgreen;
	}
	
	&:first-child {
		border-top-left-radius: 0.3em;
		border-top-right-radius: 0.3em;
	}
	
	&:last-child {
		border-bottom-left-radius: 0.3em;
		border-bottom-right-radius: 0.3em;
		border-bottom: none;
	}
	
	.thumbnail {
		// background: lightgrey;
		img {
			width: 5em;
			border-radius: 0.2em;
		}
	}
	.content {
		flex-grow: 1;
		padding-left: $padding;
	}
}
