$padding: 1em;

.post-score {
	// width: 4em;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-right: $padding;
	.up {
	}
	.score {
		margin-top: 0.3em;
		margin-bottom: 0.3em;
	}
	.down {
	}
}
