.subreddit-post {
	padding: 1em;
	
	.header {
		display: flex;
		padding-bottom: 1em;
		
		.details {
			p { margin: 0; }
			.title {
				margin: 0.3em 0;
			}
		}
		.context {
			color: $context-color;
		}
	}
	
	.post-body {
		margin-bottom: 1em;
		img {
			max-width: 600px;
			max-height: 600px;
		}
	}
	
	.actions {
		margin-bottom: 2em;
	}
	
	.compose {
		margin-bottom: 2em;
	}
}
