<div class="subreddit-post">
	{{#content-placeholders as |placeholder|}}
		{{placeholder.text lines=2}}
		{{placeholder.text lines=1}}
		{{placeholder.text lines=1}}
	{{/content-placeholders}}
</div>
{{outlet}}
