<div class="row">
	<div class="col-9 pr-0">
		<ScrollContainer>
			{{outlet}}
		</ScrollContainer>
	</div>
	<div class="col-3 px-0">
		<ScrollContainer>
			<Panel>
				Feed Sidebar
			</Panel>
		</ScrollContainer>
	</div>
</div>
